* { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
 
} 
html {
    background-color: rgb(178, 245, 213);
}
header {
    position: absolute;
    top: 10px;
    left: 10px;

}
main {
    border: 6px solid rgb(120, 120, 207);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    right: 50%;
    width: 50%;
    height: 600px;
    transform: translate(50%, -50%); 
    padding: 20px;
    background-color: paleturquoise
}

h1{
    text-align: center;
}
p{
    text-align: center;
}

.hidden {
    display: none;
}
button  {
display: inline-block; 
margin: 20px; 
color: whitesmoke; 
text-decoration: underline;
background-color: lightcoral; 
padding: 10px;
border-radius: 8px; 
border: 0;  

}
#choices{
    display: block;
}

button:hover{
    background-color: rgb(85, 85, 212);
    color: black;
    cursor: grab;
}
.scorechart{
    max width: 450px;
}

@media screen and (max-width: 768px) { 
    main { 
        
    } 
} 
 
@media screen and (max-width: 575px) { 
    main { 
   
    } 
}